.serviciosYEquiposSection {
  padding: 90px 0 50px;
}

.titleAndSubtitleContainer {
  text-align: center;
  margin-bottom: 40px;
}

.cardsContainer {
  border-radius: 10px;
}

.card {
  padding: 10px 0;
}

.container {
  width: 85%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  margin: auto;
  border-radius: 10px;
}

.cardImage {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  height: 220px;
}

.infoContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardTitle {
  font-size: 1.3rem;
  font-weight: 650;
  color: rgb(35, 90, 209);
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: disc;
  padding-left: 18px;
}

.cardItemList {
  font-size: 0.8rem;
}

.kitImageAndContactButtonContainer {
  padding: 0 20px 20px 20px;
}

.kitImage {
  width: 100%;
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contactButtonContainer {
  text-align: center;
  margin-top: 20px;
}

.contactButton {
  background: linear-gradient(90deg, rgb(35, 90, 209) 0%, rgb(107, 255, 172) 100%);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 40px;
  border-radius: 10px;
  border: none;
}

.contactLink {
  color: white;
}

@media (width >= 768px) {
  .serviciosYEquiposSection {
    padding: 150px 0 80px;
  }
  .cardsContainer {
    width: 90%;
    margin: auto;
  }
  .container {
    width: 80%;
  }
  .cardImage {
    height: 240px;
  }
  .infoContainer {
    padding: 30px 35px;
    gap: 30px;
  }
  .cardTitle {
    font-size: 1.8rem;
  }
  .cardList {
    gap: 15px;
    padding-left: 18px;
  }
  .cardItemList {
    font-size: 1.1rem;
  }
  .kitImageAndContactButtonContainer {
    padding: 0 35px 30px 35px;
  }
  .kitImage {
    height: 270px;
  }
  .contactButtonContainer {
    margin-top: 30px;
  }
  .contactButton {
    font-size: 1.2rem;
    padding: 15px 60px;
  }
}
@media (width >= 992px) {
  .serviciosYEquiposSection {
    padding: 60px 0 80px;
  }
  .cardsContainer {
    width: 85%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  .imageContainer {
    width: 33%;
  }
  .cardImage {
    height: 240px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .infoContainer {
    width: 47%;
    padding: 10px 30px 10px 10px;
    gap: 12px;
  }
  .cardTitle {
    font-size: 1.1rem;
    font-weight: 700;
  }
  .cardList {
    gap: 8px;
  }
  .cardItemList {
    font-size: 0.7rem;
  }
  .kitImageAndContactButtonContainer {
    width: 20%;
    padding: 12px 10px 10px 0;
  }
  .kitImage {
    height: 80px;
  }
  .contactButtonContainer {
    margin-top: 40px;
  }
  .contactButton {
    font-size: 0.75rem;
    padding: 8px 20px;
  }
}
@media (width >= 1200px) {
  .serviciosYEquiposSection {
    padding: 80px 0 80px;
  }
  .cardsContainer {
    width: 90%;
  }
  .container {
    width: 92%;
  }
  .cardImage {
    height: 320px;
  }
  .infoContainer {
    padding: 15px 30px 15px 15px;
    gap: 15px;
  }
  .cardTitle {
    font-size: 1.45rem;
  }
  .cardList {
    gap: 12px;
  }
  .cardItemList {
    font-size: 0.85rem;
  }
  .kitImageAndContactButtonContainer {
    padding: 18px 15px 15px 0;
  }
  .kitImage {
    height: 130px;
  }
  .contactButtonContainer {
    margin-top: 40px;
  }
  .contactButton {
    font-size: 0.9rem;
    padding: 12px 30px;
  }
}/*# sourceMappingURL=ServiciosYEquipos.module.css.map */