@import "../../assets/styles/variables.scss";

.serviciosYEquiposSection{
    padding: 90px 0 50px;
}

.titleAndSubtitleContainer{
    text-align: center;
    margin-bottom: 40px;
}

.cardsContainer{
    border-radius: 10px;
}

.card{
    padding: 10px 0;
}

.container{
    width: 85%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    margin: auto;
    border-radius: 10px;
}

.imageContainer{

}

.cardImage{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    height: 220px;
}

.infoContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardTitle{
    font-size: 1.3rem;
    font-weight: 650;
    color: $azul;
}

.cardList{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: disc;
    padding-left: 18px;
}

.cardItemList{
    font-size: .8rem;
}

.kitImageContainer{
    
}

.kitImage{
    width: 100%;
    object-fit: cover;
}

.contactButtonContainer{
    text-align: center;
    margin-top: 20px;
}

.contactButton{
    background: linear-gradient(90deg, rgb(35, 90, 209) 0%, rgb(107, 255, 172) 100%);
    font-size: .9rem;
    font-weight: 600;
    padding: 12px 40px;
    border-radius: 10px;
    border: none;
}

.contactLink{
    color: white;
}