@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", serif;
  color: rgb(40, 40, 40);
}

a{
  text-decoration: none;
}

label{
  font-size: .95rem;
  font-weight: 600;
}

input{
  font-size: .95rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(220, 220, 220);
}

input:focus{
  outline: 1px solid rgb(35, 90, 209);
}

@media(width>=768px){
  label{
    font-size: 1.2rem;
  }
  
  input{
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 10px;
  }
}

@media(width>=992px){
  label{
    font-size: .7rem;
  }
  
  input{
    font-size: .7rem;
    padding: 5px;
    border-radius: 5px;
  }
}

@media(width>=1200px){
  label{
    font-size: .8rem;
  }
  
  input{
    font-size: .8rem;
    padding: 10px;
  }
}